:root {
  --primary-color: #B392AC; /* Hauptfarbe */
  --secondary-color: #D1B3CA; /* Sekundärfarbe */
  --accent-color: #735D78; /* Akzentfarbe */
  --third-color: #E8C2CA;
  --fourth-color: rgb(200, 141, 213);
  }
  
html, body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10% 2fr 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer"
    ;
  }
  
 .onclick{
  position: fixed;
  margin-left: 65%;
  font-size: larger;
 }
#navbar {
  overflow: hidden;
  background: rgb(115,93,120);
  background: linear-gradient(90deg, rgba(115,93,120,1) 0%, rgba(179,146,172,1) 30%, rgba(200,141,213,1) 100%);
  padding: 50px 5px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  font-size: 2em;
  font-weight: bold;
  transition: 0.3s;
}

/* Links on mouse-over */


/* Style the active/current link */
#navbar a.active {
  background-color: #ffffffff;
  color: black;
}

/* Display some links to the right */
#navbar-right {
  float: left;
  margin-right: 10px;
}

  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: #ffffffff;
    text-align: justify;
    padding: 10px;
    overflow: auto;
    margin-top: 20%;
  }
  
  aside {
    grid-area: aside;
    min-height: 100px;
    background: rgb(115,93,120);
    background: radial-gradient(circle, rgba(115,93,120,1) 0%, rgba(200,141,213,1) 92%);
    padding: 10px;
    padding-top: 215px;
  }
  
  footer {
    grid-area: footer;
    padding: 10px;
    min-height: 100px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
  }
  
#logo_picture{
    width: 200px;
}

footer div{
  flex: 1;
  border: 1px solid black;
  padding: 15px;
  width: 33%;
  background-color: var(--secondary-color);
  margin: 5px;
}
  
footer ul{
  list-style: none;
  
}

img{
  width: 100px;
  float: left;
  margin-right: 10px;
}
  
.update{
  margin-left: 10px;
}
  
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

@media only screen and (max-width: 500px) {
  #logo{
    justify-content: center;
  }



  #navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    display: block;
    font-size: 3em;
  }
  #logo{
    text-align: center;
  }
  body{
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "aside aside aside"
    "footer footer footer"
    ;
    zoom: none;
  }

.onclick{
  margin-left: 10%;
}

  aside{
    padding-top: 10px;
    
  }
  main{
    padding-top: 20%;
  }
  
  
}
.update{
  
  padding-left: 20px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.onclick{
  float: left;
  
  font-size: 2em;
}